<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login - CliqCompra</title>
</head>
<body>
    <h1>Login</h1>
    <form action="#" method="post"> <!-- Actual login processing to be defined -->
        <div><label>Email: <input type="email" name="email"/></label></div>
        <div><label>Password: <input type="password" name="password"/></label></div>
        <div><button type="submit">Login</button></div>
    </form>
    <p><a th:href="@{/}">Back to Home</a></p>
</body>
</html>
