<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>Meus Produtos</title>
</head>
<body>
    <section layout:fragment="content">
        <h1>Meus Produtos Anunciados</h1>

        <div th:if="${successMessage}" class="alert alert-success">
            <p th:text="${successMessage}"></p>
        </div>
        <div th:if="${errorMessage}" class="alert alert-danger">
            <p th:text="${errorMessage}"></p>
        </div>

        <p><a th:href="@{/produtos/add}" class="btn btn-primary">Adicionar Novo Produto</a></p> <br/>


        <div th:if="${#lists.isEmpty(produtos)}">
            <p>Você ainda não anunciou nenhum produto.</p>
        </div>

        <table th:unless="${#lists.isEmpty(produtos)}">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Preço</th>
                    <th>Descrição</th>
                    <th>Foto</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="produto : ${produtos}">
                    <td th:text="${produto.nome}">Product Name</td>
                    <td th:text="${#numbers.formatCurrency(produto.preco)}">0.00</td>
                    <td th:text="${produto.descricao}">Product Description</td>
                    <td>
                        <img th:if="${produto.fotoUrl != null and not #strings.isEmpty(produto.fotoUrl)}" th:src="@{${produto.fotoUrl}}" alt="Imagem do Produto" style="width:100px; height:auto;" />
                        <span th:if="${produto.fotoUrl == null or #strings.isEmpty(produto.fotoUrl)}">Sem Imagem</span>
                    </td>
                    <td>
                        <form th:action="@{/produtos/delete/{id}(id=${produto.id})}" method="post" style="display:inline; margin-right: 5px;">
                            <button type="submit" class="btn btn-danger btn-sm"
                                    onclick="return confirm('Tem certeza que deseja excluir este produto?');">
                                Excluir
                            </button>
                        </form>
                        <a th:href="@{/produtos/edit/{id}(id=${produto.id})}" class="btn btn-warning btn-sm">Editar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</body>
</html>
